@import url(http://fonts.googleapis.com/css?family=Asap:400,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
#full-clndr {
  width: 100%;
  background-color: #ebebeb;
  font-weight: 700;
}
#full-clndr .clndr-controls {
  background-color: #414141;
  color: white;
  text-align: center;
}
#full-clndr .clndr-controls .clndr-previous-button {
  float: left;
  text-align: left;
}
#full-clndr .clndr-controls .clndr-next-button {
  float: right;
  text-align: right;
}
#full-clndr .clndr-controls .current-month {
  padding: 14px;
}
#full-clndr .clndr-controls .current-month:hover {
  cursor: pointer;
}
#full-clndr .clndr-controls .clndr-previous-button,
#full-clndr .clndr-controls .clndr-next-button {
  padding: 14px 50px 14px 50px;
  background-color: #71bbd2;
  cursor: pointer;
}
#full-clndr .clndr-controls .clndr-previous-button:hover,
#full-clndr .clndr-controls .clndr-next-button:hover {
  opacity: 0.5;
}
#full-clndr .clndr-controls .clndr-previous-button.inactive,
#full-clndr .clndr-controls .clndr-next-button.inactive {
  opacity: 0.2;
}
#full-clndr .clndr-grid {
  float: left;
  width: 65%;
  border-right: 2px solid white;
}
#full-clndr .clndr-grid .days-of-the-week {
  width: 100%;
  background-color: #3883a3;
}
#full-clndr .clndr-grid .days-of-the-week .header-day {
  float: left;
  width: 14.2857%;
  padding: 14px;
  text-align: center;
  color: white;
}
#full-clndr .clndr-grid .days {
  width: 100%;
}
#full-clndr .clndr-grid .days .day,
#full-clndr .clndr-grid .days .empty {
  float: left;
  width: 14.2857%;
  height: 66px;
  padding: 24px 0;
  text-align: center;
  color: #4f4f4f;
  background-color: #ebebeb;
  border-bottom: 2px solid white;
  background-image: url('triangle.svg');
  background-size: cover;
  background-position: center;
}
#full-clndr .clndr-grid .days .day:hover,
#full-clndr .clndr-grid .days .empty:hover {
  opacity: 0.5;
}
#full-clndr .clndr-grid .days .day.event,
#full-clndr .clndr-grid .days .empty.event {
  cursor: pointer;
}
#full-clndr .clndr-grid .days .day.event .day-number,
#full-clndr .clndr-grid .days .empty.event .day-number {
  padding-bottom: 4px;
  border-bottom: 2px solid #3883a3;
}
#full-clndr .clndr-grid .days .day.adjacent-month .day-number,
#full-clndr .clndr-grid .days .empty.adjacent-month .day-number {
  opacity: 0.3;
}
#full-clndr .clndr-grid .days .today {
  background-color: white;
  background-image: none;
}
#full-clndr .event-listing {
  float: left;
  width: 35%;
}
#full-clndr .event-listing .event-listing-title {
  padding: 14px;
  background-color: #3883a3;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}
#full-clndr .event-listing .event-item {
  padding: 14px;
  color: #4f4f4f;
}
#full-clndr .event-listing .event-item:hover {
  cursor: pointer;
}
#full-clndr .event-listing .event-item-location {
  font-weight: 400;
}
* {
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family: Inconsolata, Monaco, 'Andale Mono', Courier;
  font-size: 18px;
  color: #212121;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin-bottom: 1em;
  color: white;
  text-shadow: 1px 1px 1px #212121;
}
p {
  line-height: 1.5em;
  margin-bottom: 1em;
}
p + h3 {
  margin-top: 3em;
}
a {
  text-decoration: none;
  background-color: #ebebeb;
  color: #3883a3;
  padding: 0 2px;
  border-radius: 2px;
  -webkit-transition: background-color 0.2s, color 0.4s;
  -moz-transition: background-color 0.2s, color 0.4s;
  -ms-transition: background-color 0.2s, color 0.4s;
  -o-transition: background-color 0.2s, color 0.4s;
  transition: background-color 0.2s, color 0.4s;
}
a:hover {
  background-color: #98cede;
  color: #212121;
}
.inner {
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
strong {
  font-weight: 700;
}
.bg-gray {
  background-color: #414141;
}
.bg-red {
  background-color: #ff5a45;
}
.bg-red a {
  color: #ff5a45;
}
.bg-red a:hover {
  background-color: #ffb4ab;
  color: #212121;
}
.bg-blue {
  background-color: #71bbd2;
}
.bg-green {
  background-color: #97ce7f;
}
.bg-yellow {
  background-color: #ddca9a;
}
.center {
  text-align: center;
}
.more-space {
  margin-top: 3em;
}
@media all and (max-width: 768px) {
  #full-clndr .clndr-grid {
    width: 100%;
    border: none;
  }
  #full-clndr .event-listing {
    display: none;
  }
}
